.space{padding-top: 40px;}

body{
     /* fallback */
  /* background-color: #E0D3C5;
  background-image: url(images/linear_bg_1.png);
  background-repeat: repeat-y;
  
  Safari 4-5, Chrome 1-9
  background: -webkit-gradient(linear, left top, right bottom, from(#E0D3C5), to(#3E5B6A));
  
  Safari 5.1, Chrome 10+
  background: -webkit-linear-gradient(left, #3E5B6A, #E0D3C5);
  
  Firefox 3.6+
  background: -moz-linear-gradient(left, #3E5B6A, #1a82f7);
  
  IE 10
  background: -ms-linear-gradient(left, #3E5B6A, #1a82f7);
  
  Opera 11.10+
  background: -o-linear-gradient(left, #3E5B6A, #1a82f7); */

}
  .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }

.sidebar
{
	background-color: #EDF1F2;
}
.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}





input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}


input[type=search] {
    background: #38A6A6 url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 34px center;
    border: solid 0px #ccc;
    padding: 48px 63px 0px 0px;
    width: 55px;
    
    
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.intro-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}

 .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
.intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }

  .intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  
  color: white;
}

input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
#demo-2 input[type=search]:hover {
    background-color: #fff;
}
#demo-2 input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
#demo-2 input:-moz-placeholder {
    color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}


p {
  line-height: 1.5;
  margin: 30px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans';
  font-weight: 700;
}
a {
  color: #404040;
}
.post-preview > a {
  color: #404040;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0085a1;
.post-preview > a > .post-title {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-title {
    font-size: 36px;
  }


::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}


.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #0085a1;
  border: 1px solid #0085a1;
}
